<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>770127413450-vv47om03p99llrtlmbd58ae8ve1jupch.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.770127413450-vv47om03p99llrtlmbd58ae8ve1jupch</string>
	<key>API_KEY</key>
	<string>AIzaSyCCnXWaWBuoMSGoIvGxc9ibfh6rBUUdAxs</string>
	<key>GCM_SENDER_ID</key>
	<string>770127413450</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.tomoetek.TodoList</string>
	<key>PROJECT_ID</key>
	<string>swiftuitodo-7fff2</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuitodo-7fff2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:770127413450:ios:308ea5ef6818890c9c7433</string>
</dict>
</plist>